@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --marrom-alaranjada: #a6874e;
  --marrom-escuro: #593c22;
  --marrom-claro: #bfa77a;
  --marrom-profundo: #402320;
  --cinza-claro: #d3d3d3;
  --branco: #ffffff;
  --font-poppins: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--cinza-claro);
}

.header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--marrom-escuro);
  box-shadow: 0 0.1rem 0.8rem var(--marrom-profundo);
}

.logo img {
  width: 8rem;
  height: 6rem;
}

.icons a {
  padding: 1rem;
}

.icons .icon-add {
  display: none;
}

.banner-container {
  width: 100%;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: auto;
  max-height: 35rem; /* Ajuste a altura máxima conforme necessário */
  object-fit: cover;
}

.title {
  text-align: center;
  margin-top: 15px;
}
.title h2 {
  font-size: 2.5rem;
  color: black;
  text-decoration: underline red;
}

.produtos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 1rem;
}

.produto {
  position: relative;
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 24rem;
  margin: 1rem 0 1rem 0;
  background-color: var(--marrom-escuro);
  border-radius: 2rem;
}

.oferta {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 8rem;
  text-align: center;
  background-color: red;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 400;
  font-family: var(--font-poppins);
  font-size: 1rem;
}

.produto:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: var(--marrom-claro);
  color: var(--marrom-profundo);
}

.prod-image {
  width: 15rem;
  height: 14rem;
  border-radius: 1.5rem;
  object-fit: cover;
}

.prod-title {
  color: var(--marrom-claro);
  font-size: 1.5rem;
  margin: 0.5rem;
  font-weight: 700;
}

.preco-antigo {
  text-decoration-line: line-through;
  color: var(--marrom-claro);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.preco-atual {
  color: var(--marrom-claro);
  font-size: 1.8rem;
  font-weight: 600;
  margin-right: 2rem;
}

.heart-icon {
  position: absolute;
  top: 86%;
  color: var(--marrom-claro);
  cursor: pointer;
  transition: color 0.3s;
}

.bxs-heart {
  color: red !important;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding: 4rem;
  background-color: var(--marrom-escuro);
  color: var(--cinza-claro);
  border-radius: 3rem 3rem 0 0;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.bx {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  color: var(--marrom-claro);
  font-weight: 500;
}

.footer-container span {
  margin-right: 0.5rem;
  color: var(--marrom-claro);
  font-weight: 500;
}

.service .credit-cards {
  flex: 1;
  margin: 0 10px;
}

.footer-container h3 {
  font-family: var(--font-poppins);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}

.footer-container p {
  display: flex;
  font-family: var(--font-poppins);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
  align-items: center;
}

@media ((min-width: 320px) and (max-width: 416px)) {
  .logo img {
    width: 5rem;
    height: 5rem;
  }

  .icons a {
    padding: 0.2rem;
  }

  .title h2 {
    font-size: 1.5rem;
  }

  .produtos {
    margin-top: 0.4rem;
  }

  .produto {
    width: 10rem;
    height: 15rem;
  }

  .oferta {
    top: 0.5rem;
    width: 6rem;
    padding: 0.2rem 0;
  }

  .prod-title {
    font-size: 1.3rem;
  }

  .preco-antigo {
    font-size: 1rem;
  }

  .preco-atual {
    font-size: 1.6rem;
  }

  .prod-image {
    width: 8.5rem;
    height: 7rem;
  }

  .heart-icon {
    top: 81%;
    right: 1rem;
    font-size: 1.6rem;
  }

  .btn-remove {
    background-color: #402320;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    left: 20px;
  }

  .service,
  .credit-cards {
    margin: 1rem 0;
    text-align: center;
  }
}

@media ((min-width: 415px) and (max-width: 860px)) {
  .semana {
    top: 1rem;
  }

  .produtos {
    margin-top: 0.4rem;
  }

  .heart-icon {
    top: 82%;
    right: 0.5rem;
    font-size: 1.8rem;
  }

  .produto {
    width: 10rem;
    height: 15rem;
  }

  .card-btn {
    width: 80%;
    padding: 0;
  }

  .oferta {
    width: 5rem;
    top: 0.4rem;
    padding: 0.34rem 1rem;
  }

  .prod-image {
    width: 8.5rem;
    height: 7rem;
  }
}

@media ((min-width: 860px) and (max-width: 1024px)) {
  .produtos {
    margin-top: 0.4rem;
  }

  .produto {
    width: 12.7rem;
    height: 17.9rem;
  }

  .prod-image {
    width: 10rem;
    height: 10rem;
  }

  .heart-icon {
    top: 85%;
    right: 1.5rem;
    font-size: 1.8rem;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .service,
  .credit-cards {
    margin: 0 10px;
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .preco-atual {
    margin-right: 0;
  }

  .heart-icon {
    top: 84%;
    right: 2.4rem;
    font-size: 2rem;
  }
}
